@charset "UTF-8";
/* CSS Document */
body, html, #disableDiv {
    margin:0;
    padding:0;
	height: 100%;
	width: 100%;
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	font-family: sans-serif;
	font-size: 25px;
	margin-bottom: 70px;
	line-height: 100%;
	color: black;
	transition-delay: .2s;
}
.tooltip:hover {
	border-bottom-width: 2px;
}
.tooltiptext {
	font-size: calc(100% - 4px);
	text-align: center;
	background-color: #555;
	color: #fff;
	border-radius: 6px;
	padding: 5px 15px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 0;
	transition: visibility 0.2s, opacity .2s;
	font-family: sans-serif;
	word-spacing: normal;
	width: 200px;
	height: auto;
}
.tooltiptext:hover {
	cursor: default;
}
.tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.2s;
  opacity: 1;
  font-weight: 400;
}
	
.tooltip:hover {
	cursor: pointer;
}
	
.tooltip:not(:hover) .tooltiptext {
	visibility: hidden;
	transition-delay: 0.1s;
}
#f {
	position: absolute;
	top: calc(10% + 650px);
	left: 10%;
	right: 10%;
	color: black;
	word-spacing: 3.5px;
	z-index: 0;
	font-family: sans-serif;
	font-size: 25px;
	margin-bottom: 70px;
	line-height: 100px;
}
.more {
	background: none;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-right: transparent;
	border-left: transparent;
	width: 50%;
	border-radius: 2px;
	color: white;
	font-size: 20px;
}

.more:focus, .more:hover {
	outline: none;	
	background: gray;
	opacity: 80%;
	cursor: pointer;
}

.bottom-link {
	color: black;
	text-decoration: None;
	position: absolute;
	bottom: -5%;
	
}
#nextpage {
	position: fixed;
	bottom: 10px;
	right: 20px;
	opacity: 0;
	width: 50px;
	height: 50px;
	background-color: #1573b2;
	color: black;
	padding: 10px;
	border-radius: 50%;
	box-shadow: 0px 9px 17.5px 0px rgba(0,0,0,0.2);
	transition: all 0.5s;
	visibility: hidden;
}
#nextpage:hover {
	box-shadow: 0px 18px 35px 0px rgba(0,0,0,0.4);
	cursor: pointer;
}
#arroow {
	position: absolute;
	left: 54%;
	top: 50%;
	font-size: 40px;
	color: white;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.preference {
	color: lightgray;
	background: none;
	border: none;
	position: absolute;
	font-size: 25px;
	font-weight: normal;
	right: 100px;
	top: 25px;
}
.preference::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	left: 5.3%;
	top: 100%;
	background-color: lightgray;
	transition: 0.5s ease;
}
.preference:hover {
	cursor: pointer;
}
.preference:hover::after, .preference:focus::after {
	width: 90%;
}
#arroow:hover {
	cursor: pointer;
}
.transparent {
	background-color: transparent;
	outline: none;
	border: none;
}
.topbar-container {
	z-index: 4;
	background-color: #116095;
	height: 80px;
	display: flex;
    align-items: center;
    justify-content: center;
}
#preferencePlatform {
	background-color: white;
	border: gray 1px solid;
	width: 40%;
	height: 75%;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 3;
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0px 9px 17.5px 0px rgba(0,0,0,0.2);
	transition: all 0.2s;
}

.topbar-container a {
	color: lightgray;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 2.5em;
}
#disableDiv {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: black;
  z-index: 1;
  display: none;
}
#displayplatform {
	background-color: white;
	border: gray 1px solid;
	width: 40%;
	height: 50%;
	min-height: 275px;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 3;
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0px 9px 17.5px 0px rgba(0,0,0,0.2);
	transition: all 0.3s;
}
.x {
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	height: 30px;
	width: 30px;
	border: none;
	background-color: transparent;
	transition: transform 2s ease;
}
.x:hover {
	cursor: pointer;
}
.x:before {
    content: "";
	display: block;
    position: absolute;
    margin: auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30px;
    height: 0;
    border-top: 3px solid black;
    transform: rotate(45deg);
    transform-origin: center;
}
.x:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30px;
    height: 0;
    border-top: 3px solid black;
    transform: rotate(-45deg);
    transform-origin: center;
}
.x:after, .x:before {
	transition: transform 1s;
	transition-timing-function: cubic-bezier(0.3 0.15 0.3);
}
.x:hover:before, .x:focus:before {
	transform: rotate(-135deg);
}
.x:hover:after, .x:focus:after {
	transform: rotate(135deg)
}
#moreText {
	color: black;
	word-spacing: 3.5px;
	font-size: 22px;
	line-height: 50px;
	text-align: center;
}
.doneBut {
	width: 150px;
	height: 60px;
	background-color: #1573b2;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	color: white;
	font-size: 22px;
	border: none;
}
.doneBut:hover, .doneBut:focus {
	box-shadow: 0px 18px 35px 0px rgba(0,0,0,0.4);
	cursor: pointer;
	outline: none;
}
table, td, th {
	border: 1px solid black;
	padding: 10px;
}

table {
	width: 90%;
	border-collapse: collapse;
	margin-left: auto; 
    margin-right: auto;
}

td {
	height: 50px;
	vertical-align: middle;
}
td:hover, th:hover {
	background-color: #F2F2F2;
}
.adimage {
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#ad {
	position: fixed;
	width: 90%;
	background-color: white;
	height: 90%;
	border: solid 1px gray;
	border-radius: 5px;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: all .75s;
}
.adText {
	color: black;
	font-size: 25px;
	position: absolute;
	left: 50%;
	top: 5%;
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.hidden {
	transition: all .75s;
	visibility: hidden;
	opacity: 0;
}
#secondContent {
	visibility: hidden;
}
.number {
	font-size: 125px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.answer {
	padding-top: 20px;
	padding-bottom: 20px;
	border: solid gray 2px;
	border-radius: 6px;
	width: 100%;
	min-width: 150px;
	font-size: 25px;
	text-align: left;
	margin: 20px;
}
.answerContainer {
	display: flex;
	position: absolute;
	top: calc(180px);
	justify-content: center;
	left: 50%;
	width: 100%;
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.circle {
	border: gray solid 2px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
}
.answer:hover .circle {
	border-color: black;
}
.answer:hover {
	border-color: black;
	cursor: pointer;
}
.answer:focus {
	border-color: #4d4dff;
	outline: none;
}
.answer:focus .circle {
	border-color: #4d4dff;
	background: #4d4dff;
}
.answerText {
	padding-left: 55px;
}
.submitAnswer {
	width: 150px;
	height: 60px;
	background-color: #1573b2;
	position: absolute;
	top: 130px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 5px;
	color: white;
	font-size: 22px;
	border: none;
}
.submitAnswer:hover, .submitAnswer:focus {
	box-shadow: 0px 18px 35px 0px rgba(0,0,0,0.4);
	cursor: pointer;
	outline: none;
}
.pic {
	width: 90%;
	position: absolute;
	left: 50%;
	top: 100px;
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
#secondContent {
	font-size: 25px;
	display: none;
}
#originalContent {
	display: none;
}
#originalSecondContent {
	display: none;
}
#slider {
	-moz-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	top: 80px;
	width: 80%;
	height: 7px;
	left: 20px;
	background-color: white;
	border: black 1.5px solid;
	border-radius: 10px;
}
#slider::-o-slider-thumb {
	-o-appearance: none;
	background: none;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	border: black 1.5px solid;
}
#slider::-moz-slider-thumb {
	-moz-appearance: none;
	background: none;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	border: black 1.5px solid;
}
#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: none;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	border: black 1.5px solid;
}
#slider::slider-thumb {
	appearance: none;
	background: none;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	border: black 1.5px solid;
}
#slider:focus {
	outline: none;
}
#slider:focus::-o-slider-thumb {
	background-color: #949494;
}
#slider:focus::-moz-slider-thumb {
	background-color: #949494;
}
#slider:focus::-webkit-slider-thumb {
	background-color: #949494;
}
#slider:focus::slider-thumb {
	background-color: #949494;
}
.options {
	margin: 20px;
	position: absolute;
	top: 130px;
}
#splitEnable, .tool {
	display: none;
}
.breaker::after {
	content: "";
	position: absolute;
	border-bottom: solid black 2px;
	width: 95%;
	left: 50%;
	top: 120px;
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.label {
	color: black;
}
.range {
	margin: 20px;
	position: absolute;
	top: 30px;
}